/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  padding: 10px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.frontBackground {
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  position: static; }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #b71c1c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.mainDividerTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  letter-spacing: -0.05em;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  position: relative;
  bottom: 30px; }

.titleBlock {
  height: 80px;
  color: #ffffff;
  padding: 35px;
  margin-top: 275px; }

.subTitle {
  text-shadow: 1px 1px 2px black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 50px; }
  .subTitle span {
    padding: 30px;
    letter-spacing: -0.05em; }
    .subTitle span a {
      color: #fff; }

body {
  background-color: #000000; }
